*~
aclocal.m4
autom4te.cache/
build-stamp
CMakeCache.txt
CMakeFiles
cmake_install.cmake
CMakeLists.txt
config.log
config.status
configure
debian/*.debhelper.log
debian/dirs
debian/files
debian/metalink/*
debian/*.substvars
.deps/
.dirstamp
Makefile
Makefile.am
Makefile.in
metalink
*.o
src/metalink
